<p>
Ever been to the races?  Crowds of people are dressed to the nines with outfits and hats that could be considered fine art. A shot is fired. There is a lot of movement. Decisions are made. And all of a sudden there is an abrupt action that leaves people reeling with emotion.  All of these parallel the initial caregiving experience - the speed of change, the overwhelming emotion, the brevity of decision-making, but nothing more so than the hats!  
</p>

<p>
Wearing multiple hats seems to be a symptom of the twenty-first century and no one understands this more than the caregiver. Caregivers are juggling jobs, child-care, home-maintenance, and personal well-being as well as different levels of care for elderly parents or family members. 
</p>

<p>
We all like hats but sometimes they can be heavy and that extra weight or responsibility can be hard to carry. The only way to get ahead of the race day “hat” is to prepare. Consider some of these ways to prepare before the race of caregiving:
</p>

<ul>
<li>Have conversations with your loved one’s about different scenarios and how you would all like them to be handled.  Take notes and try to create contingency plans.</li>
<li>Talk to neighbors and friends about these scenarios and ask them for help in advance in case you need help caring for children or pets should a situation ever arise.</li>
<li>Organize and store important documents and information in a secure place and tell your family where to find these documents in an emergency.</li>
<li>Start saving now for the transition to more acute care by opening a specific joint savings account and encourage other siblings to contribute.</li>
<li>Link up direct deposit accounts to make receiving and paying money easier and note account passwords so loved one’s can easily halt or change payments if need be.</li>
<li>Regularly re-evaluate insurance plans by yourself or with a trustworthy insurance agent or planner to make sure relatives are properly insured.</li>
<li>Consider living wills, health care proxies, and a durable power of attorney early on to avoid unnecessary procedures, plan for medical wishes, and prepare financial authority.</li>
</ul>

<p>
By doing some or all of these activities in advance, you can start wearing your hats more comfortably with the knowledge that your family and extended network have the same expectations you do about what to do when the race of caregiving begins. 
</p>

<p>
Image via The Daily Telegraph
</p>
