<p>
There were whirlwind visits once or twice a year from my father's brother and his family.  They would come into town and, for three days, every need that my grandparent's had was answered immediately.  The visits were fast and furious, and when my uncle and his wife were in town, we got plenty of feedback about the quality of care that we were providing - some of it useful…and some of it not so much.  And then, they were gone.  Communication was relegated to late night phone calls and conversations across time zones.
</p>

<p>
We lived in North Carolina, while my uncle was 2,000 miles away in Newfoundland, Canada.  It took a level of dedication to make it to the Tarheel state one, let alone twice a year.  My uncle clearly wanted to be a part of the care process for my grandparents, but distance made that extraordinarily difficult.
</p>

<p>
This is not an unusual situation for caregivers.  The stereotypical caregiving situation involves one sibling who lives close to a loved one while other siblings are spread across the country…or even the world.  In a majority of cases a single family member has the responsibility for all the care for a loved one. The statistics are impressive, but to see it in action was heartbreaking.  I watched the way my family tried to come together across miles and time zones and international borders - without much success.  
</p>

<p>
Here at Family Bridge, we're interested in providing something, anything to make that process easier, simpler.  We can't wait to show you what we're building.
</p>
