<p>
First and foremost, stop for a second, take a deep breath, and just be proud.  She’s still got it!  In fact, she might have more than she ever had, at least statistically speaking.  In the average U.S. nursing home, there are roughly 250 women for every 100 men aged 75-84. And if your mother is over 85, she has truly defied the odds – with 425 women for every male. Being single in the nursing home isn’t easy. And let’s be honest, without sex as the driving factor, somebody loves your mom for the right reasons (personality, wit, bridge acumen…).
</p>
 
<p>
Of course, we shouldn’t take sex off the table just yet.  According to a 2007 study published in the New England Journal of Medicine, 53% of people aged 65-74 are sexually active.  Though that number drops to 26% for those aged 75-85, the numbers are clear: sexual desire burns long into one's twilight years.  It might be tempting to dwell on these figures, but as your mother seeks romance in uncharted waters, you need to be there for her as she was for you.
</p>
 
<p>
You’ve probably got fond memories of her providing entirely welcome, sympathetic advice at each critical juncture in your romantic timeline. It probably started with the ‘birds and the bees’ talk (liar!), and I'll bet she chimed in when you had your first crush, on prom night, and she might even still have a few thoughts about your marriage.  Now it's your turn. We at FamilyBridge believe this advisor-advisee role-reversal is the perfect opportunity to create a few embarrassing moments (and have a good laugh) while providing relationship advice to the person you love most. But remember, the issues you’ll need to address and the advice you'll need to give have changed with the circumstances.  A few things to consider:
</p>
 
<ul>
<li>Don’t worry if your mother met her new “friend” while they were on drugs.  In the nursing home, this is perfectly normal – they are prescription. Start to worry if you hear they are together, unmedicated. It isn't healthy.</li>
<li>Most states don't require nursing homes to offer private spaces to their guests, so you may need to reach back to your teenage years at summer camp to advise on coordinating late night rendezvous after snack time. We suggest you learn the lay of the land (blueprints?), or bribe a friendly nurse.</li>
<li>Sure, your mom probably isn't texting this guy, but she may need help interpreting every last word he utters. Again, consider the circumstances.  "How about dinner Tuesday night?"?  Translation: be ready by 2:30pm. "Till death do us part" – Translation: he’s afraid of commitment.  "I think we should see other people" – Translation: he thinks he should see 4.24 other women.</li>
<li>The good news? You can probably skip the "safe sex" and "family planning" discussions (it's scientifically impossible for you to be replaced by a cuter, baby sister. And besides, you've already been replaced by grandchildren).</li>
</ul>
 
Oh, and increase the hair salon budget. 

