<p>
Playing a game of Scrabble the other day, I put down C-A-R-[E]-G-I-V-E-[R] with my last seven tiles. Imagine my surprise when my miraculously placed nine letter word was only worth 16 points. Thinking about my measly value score a little later on, I stumbled upon a great thought: we – as a society- undervalue caregivers, not unlike Scrabble…
</p>

<img src="https://lh6.googleusercontent.com/T8neL84wBafuaDo_SNSIemk0unrA1OEu-bEyF8MMq9kBEqQ_i2mZO9F20PVPwXBIZEJp8S7Im1EEASTnXcu9bFTEZY-2N_DDgv8sOfcmUYY4xtvtEumYBu4shg" width="590">

<h3 class="article-section-header <%= @category_slug %>">Why care about the caregiver?</h3>

<p>
Whether related to health care spending, fiscal policy, or family dinner discussion, we have all heard the statistics related to aging demographics in the United States. The balance between young and old people is shifting, bringing to focus issues around labor, caregiving, and family. By 2050, the number of Americans aged 65 and older is projected to be 88.5 million, more than double its population in 2010. This means that by 2050 the number of elderly 65 and over will outnumber younger, working generations by 37 to 1 – approximately a 68% increase from 2010.
</p>

<p>
I know you are thinking, “Jeez, that’s a lot of Scrabble games to win against Mom.” Well, you’re right. Caregivers who make work adjustments because of caregiving responsibilities suffer a loss of $659,139 over a lifetime of care. Given that an average Scrabble game is 60 minutes, the opportunity cost of every Scrabble game you play is $77 if you are a full-time, unpaid caregiver.*
</p>

<p>
But a one hour Scrabble game is nothing compared to the cumulative cost of unpaid care. According to the AARP Public Policy Institute, in 2009 it would have cost at least $450 billion to replace unpaid care with paid services in the US. This is almost $1,500 for every person in the US in 2009 (about 307 million people). Unpaid care has been the proverbial elephant in the room for many years, but now is the time for entrepreneurs and the general public to face it head on and come up with solutions that work for all stakeholders.
</p>

<h3 class="article-section-header <%= @category_slug %>">What is caregiving worth?</h3>

<p>
The Scrabble metaphor shouldn’t go unappreciated by those interested in the aging space. After doing a bit of research, I learned that “caregiver” is actually a 76 point word with the 50 point bonus for using all your letters. Though caregiving can be diverse and complex, this is the result of the universality of the caregiving experience, not the lack of value as an opportunity area to make a difference. We should spend time investigating the caregiver experience to find new ways of providing multi-generational value. Now that’s a triple word score if ever I’ve seen one.
</p>

<p>
Post by Gemma Sole.
</p>

<p>
*Calculation of Scrabble Cost: If you take the monetary loss over the life of care (US $659,139) and divide that by the average length of a caregiving engagement (4.3 years) times the average number of work hours a year (2,000), the cost of an average scrabble game (60 minutes) is US $76.68, or approximately $77/game if you are a full-time, unpaid caregiver. The length of caregiver engagement was taken from Gail Kutner’s “Caregiver Identification Study” for AARP (February 2001).
</p>