If you are a caregiver, were a caregiver, or know a caregiver, then you know this list is spot on!


<h3 class="article-section-header <%= @category_slug %>">Getting a day off is the best thing that has happened to you in years.</h3>






You get excited when diapers are on sale.






This seems normal….





You know the day of the week by looking at your parent’s pill pack.





Your dad used the new ipad as a chopping board…

<%= image_tag "http://cdn4.rukkle.com/wp-content/uploads/ipad-chopping-board-250X250.jpg" %>




You know the dose and name of every single medication dad takes but can’t find the car keys







You give mom monopoly money to put in her purse



 ...despite all the ridiculousness, you love your parents and you can find humor in the most difficult job on earth!
