<h1>What is a Durable POA (for finance &amp; healthcare)?</h1> 

<p>
A Power of Attorney(POA) is a legal document that authorizes a selected person ("agent") to act on the behalf another person("principal").  The principal decides under what circumstances the POA will take effect and the specific areas which the agent has the authority to make a decision. 
</p>

<h2>Important Terms: Types of POA's</h2>

<p>
<b>POA for Finance:</b> Allows a family caregiver(agent) to manage their loved one's finances. It may give the agent authority to do some of all of the following:
</p>
<ol>
<li>Use assets to pay expenses</li>
<li>Buy, sell, &amp; pay taxes on property</li>
<li>Invest in stocks, bonds, etc.</li>
<li>File and pay taxes</li>
<li>Buy/sell insurance policies</li>
<li>Manage retirement account</li>
<li>Collect income &amp; benefits--Social security, Medicare/aid, etc.</li>
</ol>

<p>
<b>POA for Health Care:</b> This is often called a Health Care Proxy in many states. Authorizes a family caregiver to make medical decisions on behalf of their loved one. This can include end of life decisions such as life support or terminating care.
</p>

<p>
<b>General vs. Limited:</b> A general POA gives broad authorization to the agent when the principal becomes incapacitated whereas a limited POA only authorizes the agent to act in specified areas.
</p>

<p>
<b>Durable vs. Traditional:</b> Durable means that the document continues to operate when the person for whom it was written is mentally incapacitated(no longer able to make their own decisions). Traditional POAs are terminated when the principal becomes incompetent or dies.
</p>

<p>
<b>Immediate vs. Springing:</b> An immediate POA takes effect upon its creation. A springing POA will take effect when a specific event specified by the principal occurs (such as being determined incompetent by a medical professional). 
</p>


