<h1>How Does Legal Guardian Work?</h1>

<p>
In an ideal world, families would prepare for the inevitable needs that come with age, such as determining who will make medical and financial decisions when a loved one becomes incapacitated. But we live in the real world, where the urge to delay thinking about an unpleasant topic is strong. Sometimes this means that you find yourself suddenly thrust into a caregiving role without the benefit of the legal authority you need to make decisions for your loved one.
</p>
<p>
This is what happened to me when my parents were in their late 60s. My father had been suffering from a rare form of early-onset dementia for several years, but my parents had never set up power of attorney between the two of them and my mother refused to take legal guardianship. This was increasingly becoming an issue as my dad made a number of poor financial decisions such as sending money in response to any kind of solicitation that came in the mail, hiding tax documents, etc. My two sisters and I worried about this and prodded my mother to take responsibility but it can be hard for a child–even a grown one–to tell their parent what to do. We told ourselves, “Well, we’ll be ok as long as nothing happens to Mom before Dad passes away.” Unfortunately, my mother’s bad fall and massive brain injury put an abrupt end to that plan, and I suddenly found myself petitioning a court to take over as my parents’ legal guardian.
</p>
<p>
In practical terms, having legal guardianship rather than power of attorney is its own special form of torture. On top of suddenly having to make monumental medical and financial decisions for your loved one, you have a whole host of reporting requirements from the court. In the eyes of the law, you have a legal duty to use your care recipient’s assets wisely and the court will expect documentation that proves you have done so. My best advice is to force the conversation about power of attorney long before you need it to avoid this situation altogether. But if you do find yourself in this position, the best thing to do is to educate yourself on what you’ll need to do and start getting organized.
</p>
<p>
While the exact requirements vary from state-to-state, there are a few core procedures and responsibilities of which you should be aware as a legal guardian:
</p>

<ul>
<li>You will need to have a medical professional declare your loved one incompetent to make their own financial and health decisions. Ideally, your siblings and other family members will agree that you should have legal guardianship, otherwise they can challenge you in court.</li>
<li>The person who has been declared incompetent has a right to dispute this finding for a certain period of time (usually the person is notified by the court via mail).</li>
<li>Once you have obtained legal guardianship, you will need to provide this documentation in order to take over your loved one’s financial accounts. Make sure to order as many copies of the guardianship order as you think you might need, plus a few extras.</li>
<li>Transfer all financial accounts into guardianship accounts as soon as possible. This will allow you to write checks, pay bills online, manage investments, and make other financial transactions on your loved one’s behalf.</li>
<li>If you can’t check your loved one’s mail regularly, stop by the post office to have all mail forwarded to you. This will help you get a handle on bills that need to be paid. You will need to complete a change of address form and show your guardianship order.</li>
<li>One of the first tasks required of you will be to provide the court with an initial inventory of your loved one’s income and assets (including their home, vehicles they own, valuable jewelry, stocks and bonds, etc.)  If you’ve never discussed this with your parent or their records are disorganized this can be tricky. Finding old tax returns and reviewing incoming financial statements can help you get started.</li>
<li>Track everything! You will be required to submit reports to the court every 6 months or annually detailing all of the money you’ve spent on your parent’s care and what you’ve spent it on. This includes cash transactions.</li>
</ul>

<p>
Taking on legal guardianship can be daunting but getting organized as soon as possible will help you tremendously as you embark on this journey. Good luck!
</p>