<p>
The DPOA, Advanced Directive, and the Will are the most important documents to have on hand but here is a list of all the other documents that may prove useful throughout your time caregiving:
</p>


<h3>Personal Information:</h3>
<ul>
<li><i class="fa fa-square-o"></i> Birth certificates, Death Certificates</li>
<li><i class="fa fa-square-o"></i> Divorce/separation records</li>
<li><i class="fa fa-square-o"></i> Marriage Certificates</li>
<li><i class="fa fa-square-o"></i> Record of Military Service</li>
<li><i class="fa fa-square-o"></i> Social Security #'s</li>
<li><i class="fa fa-square-o"></i> Funeral Arrangements</li>
<li><i class="fa fa-square-o"></i> Medical Bills/records</li>
</ul>

<h3>Home &amp; Property Records:</h3>
<ul>
<li><i class="fa fa-square-o"></i> Homeowners policy</li>
<li><i class="fa fa-square-o"></i> Auto Ownership records</li>
<li><i class="fa fa-square-o"></i> Car &amp; Home Insurance records</li>
<li><i class="fa fa-square-o"></i> Titles &amp; Deeds</li>
<li><i class="fa fa-square-o"></i> Retirement Papers</li>
<li><i class="fa fa-square-o"></i> Mortgage Notes</li>
<li><i class="fa fa-square-o"></i> Paper stock certificates'</li>
<li><i class="fa fa-square-o"></i> List of stored &amp; loaned items</li>
<li><i class="fa fa-square-o"></i> Safe box combo</li>
</ul>

