<h1>List of important documents</h1>

<p>
The DPOA, Advanced Directive, and the Will are the most important documents to have on hand but here is a list of all the other documents that may prove useful throughout your time caregiving:
</p>

<ul>
<li>Homeowners policy</li>
<li>Car Insurance</li>
<li>Titles &amp; Deeds</li>
<li>Retirement Papers</li>
<li>Funeral Arrangements</li>
<li>Mortgage Notes</li>
<li>List of stored &amp; loaned items</li>
<li>Auto Ownership records</li>
<li>Birth certificates</li>
<li>Medical Bills/records</li>
<li>Divorce/separation records</li>
<li>Marriage Certificates</li>
<li>Safe box combo</li>
<li>(any kind of documentation about military service so you can qualify for veterans benefits)</li>
<li>(location of paper stock certificates)</li>
<li>(you will need to know their social security #s)</li>
</ul>