<%= render "layouts/header" %>

<% provide(:title, 'User management') %>

<% if current_user.super_admin? %>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1>All users</h1>

      <%= will_paginate %>

      <ul class="users">
        <%= render @users %>
      </ul>

      <%= will_paginate %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <h1>You are not authorized</h1>
    </div>
  </div>
<% end %>