<footer>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h5>Copyright &copy; 2014 Family Bridge</h5>
        <%= link_to "Privacy Policy", privacy_path %>
      </div>
    </div>
  </div>
</footer>