<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <%= link_to "FamilyBridge", root_path, class: "navbar-brand" %>
  </div>
  <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-6" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li>
          <a href="/calculator">
            <div class="top-menu-item">
              <div class="top-menu-icon">
                <%= image_tag "compass19.png", {width: 65} %>
              </div>
              <div class="top-menu-label">
                Guidance
              </div>
              <div class="top-menu-description">
                Navigate legal, financial &amp; care decisions.
              </div>
            </div>
          </a>
        </li>            
        <li>
          <a href="/tracking">
            <div class="top-menu-item">
              <div class="top-menu-icon">
                <%= image_tag "graph2.png", {width: 65} %>
              </div>
              <div class="top-menu-label">
                Tracking
              </div>
              <div class="top-menu-description">
                Track expenses and save money. 
              </div>
            </div>
          </a>          
        </li>            
        <li>
          <a href="/social">
            <div class="top-menu-item">
              <div class="top-menu-icon">
                <%= image_tag "people15.png", {width: 65} %>
              </div>
              <div class="top-menu-label">
                Social
              </div>
              <div class="top-menu-description">
                Get the family on the same page. 
              </div>
            </div>
          </a>   
        </li>
      </ul>
  </div>

</nav>