<% provide(:title, @page_title) %>

<% content_for :micro_body do %>
  <div class="guidance-background">

    <div class="micro-content">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="text-center">
            <h2>Stay tuned, we're launching Family Bridge soon.</h2>
          </div>
        </div>
      </div>

      <div class="app-choice-vertical-space-10">
        &nbsp;
      </div>
      <div class="app-choice-vertical-space-10">
        &nbsp;
      </div>
      <div class="app-choice-vertical-space-10">
        &nbsp;
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
            <div class="stay-tuned">
              <ul>
                <li><i class="fa fa-check"></i> FREE service for caregivers</li>
                <li><i class="fa fa-check"></i> Navigate legal, financial, &amp; care decisions.</li>
                <li><i class="fa fa-check"></i> Track expenses &amp; save money.</li>
                <li><i class="fa fa-check"></i> Get the family on the same page.</li>
              </ul>
            </div>            
          </div>

          <!-- form entry column -->
          <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="text-center stay-tuned">
                Enter your email to get early access!
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <%= form_tag(lead_saved_path) do %>
                <div class="form-group">
                  <%= text_field_tag :name, nil, class: "form-control", placeholder: "Your Name" %>
                </div>
                <div class="form-group">
                  <%= text_field_tag :email, nil, class: "form-control", placeholder: "Your Email" %>
                </div>
                <%= submit_tag("Notify me!", class: "btn btn-lg btn-primary") %>
              <% end %>
            </div>

          </div>

        </div>
      </div>

    </div> <!-- .micro-content -->
  </div> <!-- .guidance-background -->

<% end %>