<% content_for :micro_body do %>

<% provide(:title, @page_title) %>

<%= render "micro/landing_header" %>

<div id="content">
</div>
<div class="container">
  <div class="elder-law-background">
    <div class="row">
      <!-- main title header -->
      <div class="text-center">
        <h1>Help Yourself with this Step-by-Step Guide to Caring for Your Loved Ones</h1>
      </div>
    </div>

    <div class="row">
      <!-- subrow -->
      <div class="text-center">
      <h4>Learn how to manage your taxes as you finance your parents</h>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        Landing page teaser content
      </div>
      <div class="col-xs-12 col-sm-4">
        Form for collecting email address
      </div>
    </div>
  </div>
</div>

<%= render "micro/footer" %>

<% end %>
