<h1>Different Types of Long Term Care</h1>

<p>
WebMD:
“Home care can be given in your own home by family members, friends, volunteers, and/or paid professionals. This type of care can range from help with shopping to nursing care. Some short-term, skilled home care (provided by a nurse or therapist) is covered by Medicare and is called "home health care." Another type of care that can be given at home is hospice care for terminally ill people.
</p>

<p>
Community services are support services that can include adult day care, meal programs, senior centers, transportation, and other services. These can help people who are cared for at home-and their families. For example, adult day care services provide a variety of health, social, and related support services in a protective setting during the day. This can help adults with impairments-such as Alzheimer's disease-continue to live in the community. And it can give family or friend caregivers a needed "break."
</p>
<p>
Supportive housing programs offer low-cost housing to older people with low to moderate incomes. The Federal Department of Housing and Urban Development (HUD) and State or local governments often develop such housing programs. A number of these facilities offer help with meals and tasks such as housekeeping, shopping, and laundry. Residents generally live in their own apartments.
</p>
<p>
Assisted living provides 24-hour supervision, assistance, meals, and health care services in a home-like setting. Services include help with eating, bathing, dressing, toileting, taking medicine, transportation, laundry, and housekeeping. Social and recreational activities also are provided.
</p>
<p>
Continuing care retirement communities (CCRCs) provide a full range of services and care based on what each resident needs over time. Care usually is provided in one of three main stages: independent living, assisted living, and skilled nursing.
</p>
<p>
Nursing homes offer care to people who cannot be cared for at home or in the community. They provide skilled nursing care, rehabilitation services, meals, activities, help with daily living, and supervision. Many nursing homes also offer temporary or periodic care. This can be instead of hospital care, after hospital care, or to give family or friend caregivers some time off ("respite care").
</p>
<p>
Another type of long-term care takes place in home-like settings called Intermediate Care Facilities for the Mentally Retarded. They provide a wide variety of services to mentally retarded and developmentally disabled people from youth to old age. Services include treatment to help residents become as independent as possible, as well as health care services.”
</p>
