<p>
This conversation can be a very difficult conversation for many families, both between siblings and between parents and their adult children. For aging parents, this conversation can signify a loss of independence(whether this is true or not) or admitting a weakness. Between siblings, it can bring up many petty relationship issues of the past or even current financial situations--always a touchy subject. The trick is avoiding falling in these holes and understanding how making these legal documents will be helpful to everyone involved.
</p>

<p>
Getting organized now will save time later, allow you to respond quickly in case of an emergency, and, most importantly, allow your parents’ wishes to be carried out the way they intend. Planning ahead now allows you to spend more time together in the future when it matters most.
</p>

<p>
Here are some tips about ways to start this conversation:
</p>
<ul>
<li>Bring the conversation up through stories of friends- What happened in cases where people were prepared or were not prepared?</li>

<li>Set an example--get your own documents in order for your children and encourage them to do the same.</li>
<li>Have one sibling approach them about the topic so it doesn’t seem as if the entire family is ganging up on them.</li>
<li>You could involve a financial advisor/ lawyer as an objective mediator with everyone’s best interests in mind.</li>
</ul>

<p>
<%= link_to "Next: How to have a conversation with your family about funding long term care", article_path(:id => "how-to-have-conversations-poa", :category => "care-decisions") %>
</p>
