<h1>Irrational Caregiving</h1>
<p>
As a caregiver you are obligated to always act in your loved one’s best interests. But sometimes that’s not as clear-cut as it seems.
</p>
<p>
I recently spoke with a former caregiver, Dave. He’d spent a few years handling logistics and financial caregiving for his father-in-law. Clearly a brave man, he acted as the hub of communication and decision-making for his father-in-law’s five daughters.
</p>
<p>
Dave’s father-in-law sounded like a delightful fellow. He lived largely on his own, in the home he’d occupied for over 30 years and where he’d raised all those daughters, until well into his 90s. After an episode of wandering and a broken ankle (earned by dragging a stool onto the front porch to change a light bulb) it became clear that the living situation had to change. With heavy hearts, the family decided it was time to move Dad to a nursing home.
</p>
<p>
The logical next step would have been to sell the house. None of the daughters lived nearby, and the nursing home was very expensive. But, after much debate and many phone calls and emails, they just couldn’t bring themselves to do it. Irrational as it seemed, they didn’t want to give up on the idea that maybe Dad would be able to move back home someday.
</p>
<p>
That didn’t happen of course. The family put the house up for rent, and pulled in some income that way, finally selling after their Dad passed away a year later. He may never have returned home, but the idea that maybe–just maybe–he could have, kept all of them going through a difficult time.
</p>
<p>
I loved hearing Dave’s story, because it made me think about some of the “irrational” decisions I made when taking care of my own ailing parents.  I recall visiting my mom in the rehab facility where she’d been sent after her traumatic brain injury. Partially paralyzed and incontinent, clothing was a challenge. But my mom was the most glamorous person I ever knew. A true bred-in-Louisiana southern belle, she was a serious clothes horse. She was always impeccably dressed, with full makeup, dangly earrings and movie-star sunglasses, even for a trip to the grocery store. For better or for worse, what she wore and how she looked was key to her identity. And I wanted to make sure she still looked and felt as good as possible. With that in mind, I brought her a bunch of nice catalogs (Nordstrom’s, Bloomingdales and the like) and sat there going through them with her. We had fun picking out outfits that were casual and comfy but still fashionable and hip.
</p>
<p>
Observing us, one of the home’s attendants spoke up. “I wouldn’t waste your money on clothes that she’ll just pee through,” she said briskly. “I’d go to a discount store and get her stuff that can just be thrown away.”
</p>
<p>
I somehow managed to bite my tongue. But I have never been angrier in my entire life. I know she didn’t mean any harm. And yeah, maybe it was irrational to spend money on nice clothes. Certainly there were a staggering number of more urgent costs associated with my mom’s care. But buying some nice clothes wasn’t going to break the bank in the big scheme of things. And giving my mom even a brief feeling of her old self was worth almost any cost.
</p>
<p>
“Don’t worry, Mom,” I told her as soon as the attendant left the room. “We’ll get you some nice stuff.” And we did. One of my most clear memories of her in the last year of her life was driving up to the nursing home for a visit and seeing her sitting in her wheelchair in the sun, in nice black slacks, her big earrings dangling, and her movie star sunglasses perched jauntily on the bridge of her nose.
</p>
<p>
Dave’s story also reminded me of an irrational decision I made for my Dad. He suffered from a form of early-onset dementia called frontal-temporal dementia. Which meant that while he couldn’t understand language and had lost most of his executive functioning skills, he still very much knew who and where he was. He coped beautifully by maintaining a very predictable routine, which made him a breeze to care for.
</p>
<p>
One of his routines was to go check the mail every day. He’d sit by the big picture window in the living room, waiting for the mailman. As soon as he arrived, he’d head down the long steep driveway and fetch the mail. He couldn’t read or understand any of it. Which unfortunately did not stop him from somehow writing out checks by copying whatever was on the invoice and putting them in the mailbox on his daily walks to the post office. Obviously this became a big problem. Perhaps most so because he started donating a lot of money to a certain Republican presidential candidate. My Dad was a German citizen his entire life, couldn’t vote, and completely apolitical. And worst of all, my mom was about the most lefty liberal you can possibly imagine and lived for politics. Had she been living in the house and not in a nursing home at the time there would have been hell to pay!
</p>
<p>
But this also caused all sorts of financial issues. I lived out of state and the post office couldn’t forward just portions of my dad’s mail to me. It was all or nothing: stop postal service completely or deal with it in some other way. Despite the fact that it made my job as financial caregiver that much more difficult, I just couldn’t bear to take that  part of his daily routine away from him. So I went through the tedious process of calling each biller and having them send the invoice directly to me. I signed my dad up for a junk mail service specifically designed to keep seniors from being defrauded. And I signed him up for a bunch of subscriptions so something would come in the mail.
</p>
<p>
Irrational? Sure. But caregiving isn’t always rational. And that’s ok. Yes, you want to avoid making major missteps that are irresponsible in a meaningful way. But a lot of times the best care you can provide is the one that feels right to you. Trust yourself, and good luck out there.
</p>

