<h1>3 Ways a geriatric Care Manager Can Help You Survive Long-distance Caregiving</h1>

<p>
My adventure in long-distance caregiving began after my mom’s traumatic brain injury in 2008. My parents lived in Pennsylvania, far from myself and my two sisters. My father was in the later stages of early onset dementia and had been cared for by my mother. After her accident, my sisters and I suddenly found ourselves caring for two parents with very intense needs from a distance.
</p>
<p>
I can’t say it was easy. In explaining the situation to my friends, I likened the stress to having your young child living in another city. Like a child, my parents needed constant around-the-clock care from a trusted adult. There were a ton of logistics to coordinate, and decisions to be made. The key to keeping our sanity during this stressful time was hiring a professional Geriatric Care Manager.
</p>

<h2>What is a Geriatric Care Manager?</h2>

<p>
A geriatric care manager is a specialist trained in the specific health and human services needs of older adults. A care manager may have training across several disciplines--nursing, psychology, social work, or gerontology. Typically they charge an hourly rate for their services. If you can afford it, a good GCM is well worth the cost.
</p>

<h2>3 ways a Geriatric Care Manager can make long-distance care easier</h2>

<h3>1) She can be your eyes, ears and voice.</h3>

<p>
Basically, a professional geriatric care manager can do just about everything you’d do if you were living close by. Our GCM, Joyce, essentially served as the voice of the family for my sisters and I. She accompanied my parents to doctor’s appointments, checked in regularly with the home health aids, visited with my mom in the hospital and nursing home, and just generally managed all aspects of my parents’ care. We had regular calls with her to get the latest status on things, and could always call her if we were concerned about anything.  Because of her knowledge and skill, she was able to spot issues before they happened, break down medical advice into understandable language, and make recommendations including which nursing home would be the best fit for my mom.
</p>

<h3>2) She can be your single point of contact.</h3>

<p>
It can be frustrating dealing with various medical institutions and home health agencies, especially when you are far away and have not been able to establish personal relationships with the staff. Often you find yourself discussing very personal issues about your parent with a total stranger. Our GCM was able to form relationships with the people taking care of our parents and was our go-to person to help smooth communication with the other people and institutions involved.
</p>

<h3>3) She can provide services that home care aides cannot.</h3>

<p>
My father continued to live at home with a live-in home care aide. While home care aides are great for managing someone with dementia, and can place medications in front of the patient from a pillbox, they cannot legally dispense medications. Our GCM came by every few weeks to fill my dad’s pill-boxes. This was a small but crucial role we needed to fill since none of us were nearby.
</p>

<h2>How can I find a Geriatric Care Manager?</h2>

<p>
Our GCM was recommended to us by an admissions agent at a nursing home. You can probably get recommendations from friends or your parent’s doctor, but a good place to start is the National Association of Professional Geriatric Care Managers’ Care Manager Locator which is found on their web site, <%= link_to "Find Care Managers", "http://memberfinder.caremanager.org/" %>.
</p>

