<p>
Who in their right minds survives working two full time jobs? According to research done by Metlife, the answer is…(drum roll)... you and 15.9 million other caregivers who are working full time while caring for their aging parents. To be in this position is incredibly emotionally and physically taxing and it often seems as if there are no support systems in place to help you out. Facing these challenges, many of you might be considering taking a break from work to take care of your parents. However, before making the decision to step out of the workplace, we urge you to consider some of the following factors.
</p>
 

  
<h3 class="article-section-header <%= @category-slug %>">
3 Reasons to think twice before quitting your job to take care of your parents:
</h3>

<ol>
<li>The consequences might be bigger than you think. While leaving your job may alleviate many short term stresses, there can be long term consequences. You may lose social security benefits which often require a set amount of years of work. You will have stopped contributing to your pension/retirement funds. Finally, you may need the wages to pay for costly caregiving expenses. Here are some quick facts to consider:</li>
<img src="https://lh6.googleusercontent.com/wREdW8of1KaHsTrXAK6V-NAfGqyiQG519st_pnghJRWuicYNDX7fikKrGqFFHfFBpx3y1uGA-ZCGI3pLI72niOU_v10lZFUEx1DAHDtMlAeDqPw8KW-b8513eQ">
<li>There could be alternatives. Consider your parents’ financial and living situation. What level of care do they need and what can they afford? Do they qualify for any senior benefits (veterans, etc.) ? What local resources are available for the elderly? You may find that there are affordable options without having to quit your job. An in-home health aide (~$19/hr) may be the answer for when you can’t be there. Or it could be as simple as using your town’s senior transportation service so that you don’t need to take an afternoon off to take mom to an appointment.</li>
<li>Employers often offer benefits for caregivers. Before considering quitting, make sure you have looked into the resources offered to you by your employers.  The Family Medical Care Leave Act requires employers to allow up to 12 weeks unpaid leave if you qualify. Some companies make even further accommodations. Be sure to ask what options are available to you as a caregiver.
</li>
</ol>
Just remember, when making a decision this important, give yourself the time to research all of the options. While caregiving can seem overwhelming, there are lots of resources that may make your life easier. Good luck!
<%= link_to "Source", "https://www.metlife.com/mmi/research/caregiving-cost-working-caregivers.html#key findings" %>




