<p>Here’s the scene:  You, saint-like child and caregiver of lovable but stubborn mom, are trying to figure out the best way to bring up the conversation of maybe, just maybe, leaving the house and moving to an assisted living facility.  Mom, who has been living in the same home for 40 years, wants no part of any conversation that involves her leaving that home.  
</p>

<p>
We know the situation. We’ve been there before.  And we also know that you’re worried about dealing with that emotional conversation and haven’t had time to think about all the financial details. Fortunately folks at www.caregiverslibrary.org have made you a checklist (and much more!). This checklist has all the financial questions you should ask when doing your research on assisted living facilities.
</p>
 

<h3 class="article-section-header <%= @category_slug %>">Without further ado, here they are:</h3>
 
<h4>Financial Questions to ask when considering an assisted living facility:</h4>

<ul>
<li>What is the baseline fee?</li>
<li>What services are provided for that fee?</li>
<li>Are there additional charges for services/products?</li>
<li>What initial payments are required? Are any refundable if something changes?</li>
<li>What fees continue to apply if I am away from the facility for any period of time (in the hospital, etc.)?</li>
<li>When and why can the fees be changed?</li>
<li>If fees are changed, who is informed? Do you give any advanced warning of these changes?
<li>What happens if funds run out? Is there any financial assistance?</li>
<li>Do you require renters insurance?</li>
<li>What happens if there is an accident that destroys property—mine or the facility’s? Who is responsible for cleaning/repairing, payment or replacement?</li>
</ul>


