<p class="text-center">
<img src="http://4.bp.blogspot.com/_GQ1YiScGvVQ/SFRiv1461AI/AAAAAAAAAEU/lwUPen92miw/s320/taxJoke.jpg">
</p>

<p>
Many people procrastinate on their taxes.  Admit it! You have done it too! But as a caregiver, tax write-offs can be an underutilized method of recouping your care costs over the course of the year.  Every case is different, but, by exploring some of the insights below and consulting a certified tax advisor, you may discover potential savings and look forward to your next tax day!
</p>

<p>
The Bottom Line: 
Caregiving expenses that are not already covered by a healthcare plan are deductible.  
</p>
 
<p>
This can include:
<ul>
<li>Prescription drugs</li>
<li>Medical and dental care (co-pays, eyeglasses, ambulances, etc.)</li>
<li>Housing (adjustments to living situation to house a live-in caregiver, renovations, etc.)</li>
<li>Certain care services (in-home aides, acupuncture, etc.)</li>
</ul>
</p>
 
<p>
The Small Print:
</p>
<p>
You can claim a parent as a dependent** on your tax return if:
<ul>
<li>You pay for more than one-half of his/her support (total living costs); and,</li>
<li>He/she earns less than $3,900 a year (Beware: pensions, interest on bank accounts, dividends, and withdrawals from retirement plans count as income)</li>
</ul>
</p>
 
<p>
You can deduct medical/caregiving expenses for your parents if:
<ul>
<li>Your parent meets qualifications for a dependent; and,</li>
<li>Caregiving expenses exceed 7.5% of your adjusted gross income (for Fiscal Year 2013 and beyond, this threshold rises to 10% for caregivers under the age of 65)</li>
</ul>
</p>

<p>
If you cannot claim your parent as a dependent, you can still find savings if:
<ul>
  <li>
    You pay for someone to care for your parent while you are working
  </li>
  <ul>
    <li>Receive a credit up to 35% of what you paid (maximum of $3,000)*</li>
  </ul>
  <li>
  You pay more than 10% of your Adjusted Gross Income in medical expenses*
  </li>
  <ul>
    <li>You can deduct the portion of expenses greater than 10%</li>
  </ul>
</ul>
</p>

<p>
<b>Other Savings:</b> Ask your tax advisor about state-specific tax deductions.
</p>
 
<p>
With all of these tips, it is important to double check for updates in the tax laws and to keep records of your spending in case of an audit! Keeping track of caregiving expenses can be made easy with Family Bridge’s expense tracking and care contribution tool. To find out more about how it works, check out our website or send us an email today!
</p>
 
<p>
Stay tuned for part two on how you could save with pre-tax HSAs!
</p>

<p>
* See a complete list of deductible items here: <%= link_to "www.irs.gov/publications/p501/ar02.html#en_US_2012_publink100020939", "http://www.irs.gov/publications/p501/ar02.html#en_US_2012_publink100020939" %>
</p>
<p>
** Relative doesn’t have to live in your home to be considered a dependent!
</p>
<p>
*** View savings details here: <%= link_to "www.irs.gov/publications/p501/ar02.html#en_US_2012_publink1000220939", "http://www.irs.gov/publications/p501/ar02.html#en_US_2012_publink1000220939" %>
</p>


