<h1>Get a handle on the financial situation</h1>

<h3>Understand your parent’s assets &amp; debts.</h3>

<h4>Liquid Assets</h4>
Cash, checking,
Savings Accounts
Certificates of Deposit (CDs), Treasury Bills, Money Market Accounts
Cash value, equity, investment built up in each life insurance policy
<h4>Equity Assets</h4>
Stocks
Bonds
Securities
<h4>Tax sheltered/deferred</h4>
Income from employers or personal pension plans, profit sharing plans
Individual Retirement Account
Other Tax Sheltered Annuities
<h4>Non-Income Earning</h4>
Home-current market value estimate
Cars &amp; other vehicles
Personal property
<h4>Debts/Liabilities</h4>
Short term
Car
Credit card
Loans ( &lt; 5 yrs)
Taxes
Long Term
Mortgages
Loans (5+ years)
Debts they have cosigned…
<h3>Understand your parent’s monthly costs.</h3>
Monthly income
Monthly spending
Healthcare costs
Housing costs
Living Costs

<%= render "content/footer" %>