// Place all the styles related to the Content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

@import "font-awesome";

@import "variables";

#content-upper-margin {
  padding-top: 72px;
}

#category-page-upper-margin {
  padding-top: 100px;
}

#article-page-upper-margin {
  padding-top: 100px;
}

#content-box {
  padding-top: 20px;
}

#article-content-box {
  padding-top: 15px;
}

.uppercase {
  text-transform: uppercase;
}

// main home page banner
.banner-image {
  position: relative;
  width: 100%;

  .banner-text-container {
    background-color: #ffffff;
    position: absolute;
    top: 200px;
    width: 650px;

    .category-header {
      font-size: 15px;
      font-weight: 800;
      color: #ffffff;
      width: 200px;

      a {
        color: #ffffff;
      }

      .header-financial-matters {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 50px;
        background-color: $financial-matters-color;    
      }
      .header-care-decisions {
        padding-top: 3px;
        padding-bottom: 3px;       
        padding-left: 10px;
        padding-right: 50px;
        background-color: $care-decisions-color;
      }
      .header-elder-law {
        padding-top: 3px;
        padding-bottom: 3px;  
        padding-left: 10px;
        padding-right: 50px;
        background-color: $elder-law-color;    
      }
      .header-blog {
        padding-top: 3px;
        padding-bottom: 3px;  
        padding-left: 10px;
        padding-right: 50px;
        background-color: $blog-color;
      }
    }

    h2 {
      font-size: 33px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 800;
      line-height: 37px;
      margin-top: 10px;
      padding-left: 20px;
      a {
        color: $title-color;
      }
      a:hover {
        text-decoration: none;
        color: #aaa9a9;
      }
    }

    .article-type-label {
      padding-left: 20px;
      padding-bottom: 10px;
    }    
  }
}

.navbar-header {
  a {
    font-size: 28px;
    font-weight: 800;
  }
  a:link { color: $main-yellow-color; }
  a:visited { color: $main-yellow-color; }
  a:hover { color: $main-yellow-color; }
  a:active { color: $main-yellow-color; }
}


.nav-menu-container {
  padding: 10px 012px 0px;
}

@media (min-width: 992px) {
  .nav-menu-container {
    padding: 0px 0px 2px 0px;
  }
}

.tagline {
  font-weight: 300;
  color: $tagline-color;
  font-size: 14px;
  margin-left: 57px;
}

.fb-content-container {
}

.main-articles-container {
  margin-top: 15px;
}

.article-box {
  padding: 25px 0px 25px 0px;
  margin-left: -15px;
}

.bottom-article-box {
  padding: 25px 0px 25px 0px;
  margin-left: -15px;
}

@media (min-width: 960px) {
  .bottom-article-metadata {
    margin-left: -15px;
  }
}


.article-type-label {
  color: $tagline-color;
  font-size: 14px;
  font-weight: 300;
}

.article-title > h1 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 23px;
  margin-top: 0px;
  margin-bottom: 15px;
  a {
    color: $tagline-color;
  }
  a:hover {
    text-decoration: none;
    color: $tagline-hover-color;
  }
}

.financial-matters {
  color: $financial-matters-color;
}

.care-decisions {
  color: $care-decisions-color;
}

.elder-law {
  color: $elder-law-color;    
}

.blog {
  color: $blog-color;
}

.article-img-border-financial-matters {
  border-left-color: $financial-matters-color;
  border-left-style: solid;
  border-left-width: 10px;
}

.article-img-border-care-decisions {
  border-left-color: $care-decisions-color;
  border-left-style: solid;
  border-left-width: 10px;
}

.article-img-border-elder-law {
  border-left-color: $elder-law-color;
  border-left-style: solid;
  border-left-width: 10px;
}

.article-img-border-blog {
  border-left-color: $blog-color;
  border-left-style: solid;
  border-left-width: 10px;
}

/* front page */

.jumbotron-title {
  font-size: 29px;
  font-weight: 800;
  a {
    color: $tagline-color;
  }
}

.article-category {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  .financial-matters {
    color: $financial-matters-color;    
    a {
      color: $financial-matters-color;    
    }   
  }
  .care-decisions {
    color: $care-decisions-color;
    a {
      color: $care-decisions-color;    
    }
  }
  .elder-law {
    color: $elder-law-color;    
    a {
      color: $elder-law-color;
    }
  }
  .blog {
    color: $blog-color;
    a {
      color: $blog-color;
    }
  }
}


.article-summary {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  a {
    color: #1a708c;
  }
  line-height: 22px;
}

.article-share {
  margin-top: 20px;
}

.article-closing-phrase {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}

.share-button {
  float: left;
  position: relative;
  padding-right: 5px;
}

.tweet-share-adjust {
  padding-top: 2px;
}


.sidebar {
  border-left: 1px solid #aeb1b8;
  margin-bottom: 30px;
  padding: 0px 17px 17px 17px;

  h3 {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 800;
   font-size: 18px;
   color: $main-yellow-color;
   margin-bottom: 20px;
  }

  .sidebar-item {
    margin-bottom: 10px;
  }

  .sidebar-item-image {
    margin-top: 5px;
  }

  .sidebar-item-title {
    font-weight: 600;
    font-size: 16px;
    color: #434140;
    a {
      color: #434140;
    }
  }

  .sidebar-item-summary {
    font-weight: 300;
    font-size: 14px; 
    color: $tagline-color;
    padding-bottom: 10px;
  }
}

.sidebar-hr {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -15px;
}

.btn-fb-subscribe {
  color: #ffffff;
  background-color: $main-yellow-color;
  width: 50%;
  font-size: 14px;
  font-weight: 800;
  border-color: $main-yellow-color;
  padding: 0px 5px;
}

.subscribe-button {
  color: #ffffff;
  background-color: $main-yellow-color;
  font-size: 14px;
}

.article-more-link {
  width: 120px;
  margin-top: 17px;
  a:link { color: $main-yellow-color; }
  a:visited { color: $main-yellow-color; }
  a:hover { color: $main-yellow-color; text-decoration: none;}
  a:active { color: $main-yellow-color; }
}


.footer-container {
  margin-top: 25px;
  background-color: $gray-background;
  padding-top: 35px;
  min-width: 1100px;
}

.social-media-footer {
  padding-bottom: 5px;
}

.footer-category-header {
  font-size: 15px;
  font-weight: 800;
  text-align: right;
  margin-bottom: 25px;
  a {
    color: $tagline-color; 
  }
}

.footer-subcategory {
  font-size: 12px;
  font-weight: 300; 
  .elder-law {
    color: $elder-law-color;
  }
  .financial-matters {
    color: $financial-matters-color;
  }
  .care-decisions {
    color: $care-decisions-color;
  }
  .blog {
    color: $blog-color;
  }
}

.contact-us-footer {
  color: $main-yellow-color;
  font-size: 18px;
  font-weight: 400;
}

.content-form-label {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header-financial-matters {
  padding-right: 10px;
  margin-right: -5px;
  padding-left: 10px;
  background-color: $financial-matters-color;    
}
.header-care-decisions {
  padding-right: 10px;
  margin-right: -5px;
  padding-left: 10px;
  background-color: $care-decisions-color;
}
.header-elder-law {
  padding-right: 10px;
  margin-right: -5px;
  padding-left: 10px;
  background-color: $elder-law-color;    
}
.header-blog {
  padding-right: 10px;
  margin-right: -5px;
  padding-left: 10px;
  background-color: $blog-color;
}

/* category page */
.category-header {
  font-size: 17px;
  font-weight: 800;
  color: #ffffff;
  margin-right: -5px;
}

.category-tagline {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300; 
  text-align: right;
}

.category-article-title > h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 23px;
  a {
    color: #434140;
  }
  a:hover {
    text-decoration: none;
    color: #aaa9a9;
  }
}

.category-article-type-label {
  color: #434140;
  font-size: 14px;
  font-weight: 300;
}

.category-article-box {
  padding: 25px 0px 25px 0px;
}

/* article page */
.article-page-header {
  margin-bottom: 30px;
  h1 {
    margin-top: 0px;
    font-size: 38px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    color: #434140;
  }
  .financial-matters {
    font-size: 13px;
    font-weight: 800;
    color: $financial-matters-color;
  }
  .elder-law {
    font-size: 13px;
    font-weight: 800;
    color: $elder-law-color;
  }
  .care-decisions {
    font-size: 13px;
    font-weight: 800;
    color: $care-decisions-color;
  }
  .blog {
    font-size: 13px;
    font-weight: 800;   
    color: $blog-color;
  }
  .article-type-author {
    font-size: 14px;
    font-weight: 300;
    color: #434140; 
  }
}

.article-body {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
  color: #434140;
  line-height: 1.8em;

  ul {
    line-height: 2em;
    list-style-type: square;
  }

  .article-section-header {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .article-list-item-header {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.related-articles {
  .heading {
    font-size: 18px;
    font-weight: 800;
    color: $main-yellow-color;
    margin-bottom: 10px;
  }
  .related-articles-container {

    margin-left: -15px;
    .related-article {
      .related-article-title {
        font-size: 15px;
        font-weight: 600;
        color: #434140;
        margin-top: 10px;
        line-height: 16px;
      }
    }
  }

}

/* for email popup */

.email-popup {
  position: relative;
  background: $gray-background;
  padding: 40px;
  width: auto;
  max-width: 335px;
  margin: 20px auto;
}

#popup-email-submit-form {
  font-family: 'Source Sans Pro', sans-serif;
  hr {
    margin: 10px 23px 23px 20px;
    border-top: 1px solid $tagline-hover-color;
  }
}

#popup-fb-logo {
  font-weight: 800;
  font-size: 26px;
  color: $main-yellow-color;
  text-align: center;
  margin-bottom: -5px;
}

#popup-fb-logo-tagline {
  font-weight: 300; 
  font-size: 12px;
  color: $tagline-color;
  margin-left: 87px;
  text-align: center;
}

#popup-fb-headline {
  font-size: 16px;
  font-weight: 300;
  color: $care-decisions-color;
  text-align: center;
  margin: 0px 23px 43px 20px;
}

#popup-notify-me {
  background-color: $main-yellow-color;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  border-color: $main-yellow-color;
}