// Place all the styles related to the micro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 100%;
}

.top-menu-item {
  text-align: center;
}

.top-menu-icon {
}

.top-menu-label {
  font-size: 1.2em;
  font-weight: bold;
}

.top-menu-description {
  font-size: 0.8em;
}

.micro-content {
  padding-top: 100px;
}

.guidance-background {
  background-image: image-url('shutterstock_144623909.jpg');
  background-size: cover;
  max-height: 800px; 
  height: 800px; 
}

.tracking-background {
  background-image: image-url('shutterstock_98074517.jpg');
  background-size: cover;
  max-height: 800px; 
  height: 800px;  
}

.social-background {
  background-image: image-url('shutterstock_47941273.jpg');
  background-size: cover;
  max-height: 800px; 
  height: 800px;   
}

.stay-tuned {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 0px 20px 0px;
  margin-bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.stay-tuned-success {
  background-color: rgba(62, 162, 254, 1);
  font-weight: bold;
  padding: 20px 5px 20px 5px;
  margin-bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.app-choice-container {
  margin-top: 50px;
}

.app-choices {
  margin: 0px auto; width: 600px;
  a:link { color: #000; }
  a:visited { color: #000; }
  a:hover { color: #000; }
  a:active { color: #000; }
}

.app-choice-vertical-space-50 {
  margin-bottom: 50px;
}

.app-choice-vertical-space-30 {
  margin-bottom: 30px;
}

.app-choice-vertical-space-10 {
  margin-bottom: 10px;
}

.app-choice-vertical-space-5 {
  margin-bottom: 5px;
}

.app-choice-vertical-space-2 {
  margin-bottom: 2px;
}

.app-choice {
  float: left;
  width: 180px;
  padding-top: 25px;
  margin: 0 10px 0 10px;
  border-style: solid;
  border-width: 4px;
  border-color: yellow; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  height: 180px;
  max-height: 180px;
  background-color: rgba(255, 255, 255, 0.4);
}

.app-choice-label {
  font-weight: bold;
}

ul
{
    list-style-type: none;
    margin-right: 20px;
}

/* for the legal guide email wall */
$main-yellow-color: #f3c816;
$tagline-color: #aaa8a8;
$freeguide-bg-color: #f0e091;
$download-form-bg-color: #f7f6f6;
$download-header-color: #93bfc3;
$guide-title-color: #898888;
$subtitle-color: #bab9b9;


#email-wall-logo {
  font-size: 48px;
  font-weight: 800;
  color: $main-yellow-color;  
  margin-bottom: 0px;
}

#email-wall-tagline {
  font-size: 20px;
  font-weight: 300;
  color: $tagline-color;
  margin-left: 180px;
  margin-top: -10px;
}

.free-guide-highlight {
  color: #ffffff;
  font-size: 29px;
  font-weight: 700;
  background-color: $freeguide-bg-color; 
  padding: 5px 25px 5px 25px;
}

.free-guide-title {
  margin-left: 10px;
  color: $guide-title-color; 
  font-weight: 800;
  font-size: 28px;
}

#guide-subtitle {
  color: $subtitle-color;
  font-weight: 500;
  font-size: 27px;
  margin-bottom: 30px
}

#guide-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 20px;
  .first-line {
    font-weight: 500;
  }
  ul
  {
      list-style-type: square;
      margin-right: 0px;
  }
}

#preview-image {
  float: right;
  margin: 10px;
}

.download-form-header {
  color: $download-header-color;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}

.download-hr {
  margin: 5px 20px 20px 20px;
  border-color: $subtitle-color; 
}

.download-form-box {
  background-color: $download-form-bg-color;
  padding: 20px 20px 50px 20px;
}

.download-button {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: $download-header-color;
}

.click-to-download {
  font-size: 27px;
  font-weight: 300;
  color: $subtitle-color;
}

.download-button-large {
  padding: 10px 60px;
  font-size: 33px;
  font-weight: 600;
  color: #ffffff;
  background-color: $download-header-color;
}

.learn-more-about {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 300;
  color: $subtitle-color;
}

.fb-logo-small {
  color: $main-yellow-color;
  font-size: 22px;
  font-weight: 800;
}

footer h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  color: #747171;
}
