// overrides bootstrap body - for content site
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  font-size: 16px;
  color: #747171;
}

.navbar-default .navbar-nav {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 700;
  li > a {
    color: #747171;
  }
}

.navbar-default {
  background-color: #ffffff;
  box-shadow: 0 4px 2px -2px #eeeeee;
}

@media (min-width: 992px) {
  ul.nav {
    margin-top: 10px;
  }
}
#content {
  padding-top: 60px;
}