<footer>
<div class="footer-container">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 pull-right">
          <div class="footer-category-header uppercase">
            About Us
          </div>
        </div>       
    </div>
  </div>
</div>
</footer>
