<footer>
<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-2">
          <div class="footer-category-header uppercase">
            Elder Law
          </div>
          <div class="footer-subcategory">
            <div class="elder-law">
              Power of Attorney, legal Guardianship, and Healthcare Proxies
            </div>
            <div class="elder-law">
              Estate Planning 
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="footer-category-header uppercase">
            Financial Matters 
          </div>
          <div class="footer-subcategory">
            <div class="financial-matters">
              Costs of Care
            </div>
            <div class="financial-matters">
              Paying for Care
            </div>
            <div class="financial-matters">
              Finding Savings and Managing Finances
            </div>
          </div>
        </div>      
        <div class="col-xs-12 col-sm-2">
          <div class="footer-category-header uppercase">
            Care Decisions
          </div>
          <div class="footer-subcategory">
            <div class="care-decisions">
              Finding and Choosing Care
            </div>
            <div class="care-decisions">
              Aging at Home
            </div>
            <div class="care-decisions">
              Communication
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-1 pull-right">
          <div class="footer-category-header uppercase">
            Blog
          </div>         
        </div>      
        <div class="col-xs-12 col-sm-2 pull-right">
          <div class="footer-category-header uppercase">
            About Us
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>
</footer>
