<% provide(:title, @page_title) %>

<div id="remote-article">
  <div id="remote-article-header">
    <!-- where header goes to move to different sections -->
    Family Bridge Header
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h1>Elder Care Finance</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h1>Elder Care Legal</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h1>Senior Living</h1>
    </div>   
  </div>
</div>