<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        Security icons
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        &copy; FamilyBridge 2013 | <%= link_to "Privacy Policy", privacy_path %> 
        | <%= link_to "Terms", terms_path %> 
        | <%= link_to "Contact", contact_path %> 
        | <%= link_to "Help", help_path %>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        Social Media icons
      </div>
    </div>
  </div>
</footer>