<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        Security icons
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        &copyright; 2013 | About | Privacy Policy | Terms | Contact | Help
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        Social Media icons
      </div>
    </div>
  </div>
</footer>